.header {
  z-index: 0;
  width: auto;
  height: 60px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
.a {
  text-decoration: none;
}
.h1 {
  font-size: 25px;
  color: black;
}
